<div class="container">
  <h2 class = "page-header"> Add Product</h2>
<form (submit) = "addProduct()">
	<div class = "form-group">
		<label>Product Name</label>
		<input type="text" [(ngModel)] = "product_name" name = "product_name" class = "form-control">
	</div>
	<div class = "form-group">
		<label>Product Desc</label>
		<input type="text" [(ngModel)] = "product_desc" name = "product_desc" class = "form-control">
	</div>
	<div class = "form-group">
		<label>Price</label>
		<input type="text" [(ngModel)] = "price" name = "price" class = "form-control">
	</div>
	<input type="submit" class = "btn btn btn-success" value ="Add">
</form>
</div>
<hr>
<hr>
<div class="container">
  <div *ngFor = "let product of products">
    <div class="row">
		  <div class = "col-md-3">
		      {{product.product_name}}
		  </div>
		  <div class = "col-md-2">
		      {{product.product_desc}}
		  </div>
		  <div class = "col-md-2">
		      {{product.price}}
		  </div>
		 
		  <div class = "col-md-3">
		     <input type="button" (click)="deleteProduct(product._id)" value = "Delete" class = "btn btn-danger">
		  </div>
	  </div>
	  <br>
  </div>
</div>
